.wrapper {
    display: flex;
    width: 300px;
}

.item {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttonWidth {
    width: 60px;
    height: 30px;
    font-size: 12px;
}